<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataAccess.Properties.Settings>
            <setting name="conexion" serializeAs="String">
                <value>server=DESKTOP-08MUDHE \ BDSQL; database=vet_BD; integrated security = true</value>
            </setting>
        </DataAccess.Properties.Settings>
    </userSettings>
               </configuration>